# Site settings
title: Alvaro Limber Chirino Gutierrez
email: achirino@aru.org.bo
description: Web académica de MSc. Alvaro Chirino
baseurl: "https://alvarolimber.github.io"
url: ""

# Google analytics ID: Uncomment and your own, if you like
# google_analytics: XX
# google_analytics_4: XXX
# google_tag_manager: XXX

# Footer info
affiliation: >
  Alvaro Chirino<br/>
  Investigador y Docente<br/>
  Fundación Aru, UMSA, UCB

location: >
  La Paz - Bolivia

contact: >
  <a href="mailto:achirino@aru.org.bo" target="_blank"><i class="fa fa-envelope fa-1x"></i> Contacta a Alvaro</a> <br/>
  <a href="https://github.com/sbryngelson/academic-website-template"><i class="fa fa-github fa-1x"></i> Use this site as a template!</a>

# Pages shown in navbar
nav_pages:
  - name: acerca de mí
  - name: publications
  - name: talks
 # - name: research
  - name: software
 # - name: team
  - name: teaching
  - name: blogs

include:
  - .htaccess
  - _pages

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links

plugins: ["jekyll/scholar"]

scholar:
  last_name: Chirino
  first_name: [Alvaro]

  style: citesty
  locale: en

  source: /assets/
  bibliography: ref.bib
  bibliography_template: bibtemplate
  sort_by: year, month
  order: descending

  replace_strings: true
  join_strings: true

  details_dir: bibliography
  details_layout: bibtex.html
  details_link: Details

  query: "@*"

  bibliography_list_attributes:
    reversed: "reversed"

exclude:
  - Gemfile
  - Gemfile.lock
  - update_boostrap.sh
  - switch_theme.sh
  - tags
  - Rakefile