@import "limpiar.css";
/*-----------------Estilos PD-PIEB-----------------*/
body { font: 12px Arial,sans-serif; color: #4d4d4d; text-align: left; background: #ffffff;  padding-top: 0px; margin:0px;}
#wrap {
	width: 977px;
	margin: 0 auto;
	border:1px solid #4d4d4d;
	padding:0px;
	}
a {	color: #BE3F24;	text-decoration: none;}
a:hover { cursor: pointer; text-decoration: none; }
a:focus{ outline:none; }

.cl { clear: both; height: 0; line-height: 0; font-size: 0; text-indent: -4000px; }
.hidden { display: none; }
img {border: none;}
table { margin: auto; padding:0px;margin:0px;}
td {text-align:left;}
#ctool{ position:absolute;
 z-index:1;
 background-color:#FFFFFF;
 top:100px;
 left:300px;
 width:300px;
 height:12px;
}
#ctip{
 position:absolute;
 z-index:0;
 height:41px;
}

#ico {text-align:right;padding-right:8px;}
#ico img {padding:3px;}
/*
	Secciones
*/
#cabecera {}
#cabeza {height: 92px;}
	#seccion a {
	float: left;
	display: inline;
	height: 35px;
	text-align: center;
	font-size: 10px;
	line-height: 35px;
	color: #1c3f6e;
}
	#seccion a:hover,
	#seccion a.active {
	text-decoration: none;
	color: #1c3f6e;
}
	#navigation {
	width:977px;
	height: 25px;
	/*background: url(../imagen/nav_deg.jpg);*/
	background:#e9f4fa;
	background-color:#e9f4fa;
	border-top:1px solid #AFAFAF;
	border-bottom:1px solid #AFAFAF;
}
	#navigation a {
	float: left;
	display: inline;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	color: #002f6e;
}
	#navigation a:hover,
	#navigation a.active {
	text-decoration: none;
	color: #002f6e;
}
#banner { height: 120px;}
#pieb_20 { height: 255px; width:628px;background-image:url(../PIEB_20/imagen/pd_caja20f.png);padding:0px;background-repeat:no-repeat;background-position:top left;}
#rotante { height: 44px; }
#seccion { background:#f3f2f2; height: 35px; border-bottom:1px solid #afafaf; width:977px;}

#seccion a {
	float: left;
	display: inline;
	height: 35px;
	text-align: center;
	font-size: 10px;
	line-height: 35px;
	color: #1c3f6e;
}
#seccion a:hover,
#seccion a.active {
	text-decoration: none;
	color: #1c3f6e;
}
/*ddddddddddddddd */
.search {
	float: right;
	display: inline;
	width: 250px;
	height: 13px;
	border:0px;
	border-top:1px solid #a02225;
	border-bottom:1px solid #a02225;
	color:#aaaaaa;
	font-size:9px;
}
/*
	Fec_ant
*/
#fec_ant { height: 44px;}
/*
	Espacio despues del contenido
*/
#esp_cnt { height: 25px;}
#indice {background:#e9f4fa;	background-color:#e9f4fa;height: 167px;}

#pie {height: 80px; text-align:center; font-size:12px;font-family:Arial;padding-top:20px;border-top:1px solid #d0d2d3;}
#pie p { color: #000000;padding:5px;margin:0px;}
#pie span { color: #7a7a7a;padding:0px;margin:0px;}


.column { float: left; display: inline; width: 307px; }
.column2 { float: left; display: inline; width: 307px; }

/*
	Other News
*/
#content {
	text-align: left;
}
#Contenido {
	text-align: left;
}
.sp14 {width:13px;}
.spa14, .espacio {height:14px;margin:0px;padding:0px;}
.service {
	margin: 0px;
	height:300px;
}
/*
	Red Box
*/
.red-box { background:#e2e3e4; width:279px; padding:14px; border:1px solid #002f6e;}
.red-box2 { background:#e2e3e4; width:600px; padding:14px; border:1px solid #002f6e;}
.red-boxf { background:#F1F1F2; width:600px; padding:14px; border:1px solid #8a1842;}
.tesp {font-size:12px; color:#8a1842; padding:0px 0px 7px 0px; border-bottom:3px solid #8a1842; font-weight:Bold;}
.pd_titf {line-height:36px;height:34px; font-size:34px; color:#8a1842; Font-family:Georgia;}
.red-box2n { background:#f1f1f2; width:600px; padding:0px 14px 0px 14px;border:1px solid #21346a;}
.red-box3 { background:#e2e3e4; width:921px; padding:14px; border:1px solid #002f6e;}
.serv { width:628px; border:0px solid green;}
/*
	Orange Box
*/
.orange-box { width:307px; border:0px; margin:0px;padding:0px;}
/*
	Green Box
*/
.green-box { width:307px; border:0px;margin:0px;padding:0px;}

/*   */
.pd_fm {line-height:25px;height:25px; font-size:11px; color:#ffffff; Font-family:Arial;}
.pd_ft {font-size:18px; color:#ffffff; Font-family:Georgia;}
.pd_fr {font-size:12px; color:#ffffff; Font-family:Arial;}
.pd_fmas {line-height:25px;height:25px; font-size:14px; color:#ea5c24; Font-family:Arial; font-weight:Bold;}


.pd_log {color:#a02225;font-family:Helvetica;font-size:8px;letter-spacing:0px;padding-bottom:14px;margin:0px;}
.pd_ca {height:25px;border-bottom:1px solid #b2b2b2; background:#e2e3e4;padding:0px; margin:0px;}
.pd_cab {font-size:11px; color:#4e4e4e; text-transform: capitalize;padding-left:14px;}
.pd_cabb {font-size:11px; color:#4e4e4e; padding-left:14px;}
.pd_ress {font-size:11px; color:#a02225; font-weight:bold;}
.pd_rest {font-size:13px; color:#000000; line-height:15px; text-decoration: none;text-align:left;}
.pd_restm {font-size:13px; color:#000000; line-height:15px; text-decoration: none;text-align:left;}
.pd_resta {font-size:13px; color:#1c3f6e; line-height:15px; text-decoration: none;text-align:left;}

.pd_restnov {font-size:12px; color:#4d4d4d; line-height:15px; text-decoration: none; padding:5px;}
.pd_rest_index {font-size:11px; color:#4d4d4d;  line-height:11px;}
.pd_restb {font-size:12px; color:#000000;  line-height:12px;line-height:15px;}
.pd_restbb {font-size:12px; color:#1c3f6e;  line-height:12px;line-height:15px;}
.pd_restc {font-size:12px; color:#a02225; font-weight:Bold;line-height:17px;}
.pd_resti {font-size:11px; color:#000000;  line-height:11px;}
.pd_resf {font-size:11px; color:#808080; }
.pd_c1 {padding:14px 0px 0px 14px; font-family:Arial;text-align:Left;}
.pd_sti {font-size:22px; color:#002f6e; Font-family:
Georgia;line-height:26px;}
.pd_stir {font-size:22px; color:#B11F24; Font-family:
Georgia;line-height:26px;}
.tit {font-size:22px; color:#002f6e; Font-family:
Georgia;line-height:27px;}
.pd_stt {font-size:16px; color:#231f20; Font-family:
Georgia;}

.pd_stim {font-size:16px; color:#414141; Font-family:Georgia;}
.pd_t {line-height: 30px;height: 30px; font-size:10px; color:#000000; Font-family:Arial;}
.pd_tit {line-height:36px;height:34px; font-size:34px; color:#002f6e; Font-family:Georgia;}

.pd_cdeg {height:12px;	background: url(../imagen/pla/pd_cdeg.png);border-left:1px solid #d0d2d3;border-right:1px solid #d0d2d3;}
.pd_ct {line-height:11px;height:11px; font-size:11px; color:#4e4e4e; Font-family:Arial;text-transform: capitalize;}
.pd_ctf {line-height:11px;height:11px; font-size:16px; color:#002f6e; Font-family:Georgia;text-transform: capitalize;}
.pd_cc {border-left:1px solid #d0d2d3;border-right:1px solid #d0d2d3;padding:0px 14px 0px 14px;}
.pd_cc2 {border-left:1px solid #d0d2d3;border-right:1px solid #d0d2d3;padding:0px 14px 0px 14px;height:87px;}
.pd_restt {font-size:12px; color:#808080; }
#pd_cj1 {overflow: auto; height:87px; width:291px;}
.pd_cesp {border:1px solid #e2e3e4;margin:0px;}
#pd_cj2 {overflow: auto; height:188px; width:291px;}
#pd_cj3 {overflow: auto; height:420px; width:289px;}
#pd_cj4 {overflow: auto; height:110px; width:280px;}
#pd_cj5 {overflow: auto; height:460px; width:292px;}
#pd_cj6 {overflow: auto; height:150px; width:307px;}
#cajau {overflow: auto; height:150px; width:307px;}
#cajar {overflow: auto; height:150px; width:307px;}
#cajaf {overflow: auto; height:100px; width:307px;padding-bottom:14px;}
#cajaf1 {overflow: auto; height:100px; width:250px;padding-bottom:14px;}
.pd_cesp {border:1px solid #d0d2d3;}
.pd_cesp {border:1px solid #d0d2d3;}
.pd_cespt {padding:14px 14px 0px 14px;text-align:left;}
.pd_cdoss {padding-bottom:7px;text-align:left;}
.pd_bul {padding-bottom:7px;}
.pd_it {line-height:11px;font-size:14px; color:#002f6e; Font-family:Arial;text-transform:Capitalize; font-weight:Bold;}
.pd_ienl {line-height:11px;font-size:11px; color:#002f6e; Font-family:Arial;}
.pd_ili {line-height:11px;font-size:11px; color:#002f6e; Font-family:Arial;padding:0px;height:15px;}
.pad2 {padding:10px 14px 14px 14px;}
.pad {padding:10px 0px 14px 14px;}
.pd_caja {border:1px solid #d0d2d3; margin:0px;}
.pd_ccs {border:1px solid #6d6e71;padding:0px;height:67px;}
.pd_cajam {border:1px solid #006633;}
.pd_cabm {font-size:11px; color:#006633;text-transform:uppercase;padding-left:14px;}
.pd_resma {font-size:11px; color:#006633; line-height:14px; text-decoration: none;font-weight:Bold;}
.pd_cam {height:25px;border-bottom:1px solid #b2b2b2; padding:0px; margin:0px;}
.pd_mul {line-height:14px;font-size:9px; color:#ffffff; Font-family:Arial;}
/* semanal*/
.pd_tis {line-height:15px; font-size:14px; color:#002f6e; Font-family:Georgia;}
.pd_tes {line-height:15px; font-size:11px; color:#4d4d4d; Font-family:Arial;}
.pd_fes {line-height:15px; font-size:11px; color:#808080; Font-family:Arial;}
.pd_tban {padding-top:5px;line-height:44px; font-size:10px; color:#002f6e; Font-family:Arial;font-weight:Bold;}
.pd_teban {line-height:10px; font-size:10px; color:#000000; Font-family:Arial;}
.pd_cban {padding-top:5px; height:18px;}
.pd_v {font-weight:Bold;text-decoration:none;font-size:10px; color:#a02223;}
/* CSS Document */
html ul.tabs li.active, html ul.tabs li.active  {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-left:1px solid #e2e3e4;
	border-right:1px solid #e2e3e4;
	padding-left: 12px;
	padding-right: 12px;
}
html ul.tabs1 li.active1, html ul.tabs1 li.active1  {
	background: #fff;
	border-bottom: 1px solid #fff;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	padding-left: 8px;
	padding-right: 8px;
}
.container {width: 305px; margin:0px; background-color:#f1f2f2;padding:0px;
border:1px solid #e2e3e4;
border-top:1px solid #e2e3e4}
.container2 {width: 305px; margin:0px;padding:0px;border:0px;}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #d0d2d3;
	border-left: 1px solid #d0d2d3;
	border-top:1px solid #d0d2d3;
	width: 100%;
}
ul.tabs1 {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 25px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top:0px;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding-left: 12px;
	padding-right: 12px;
	height: 25px;
	line-height: 25px;
	/*border-left: none;*/
	margin-bottom: -1px;
	background: #e2e3e4;
	overflow: hidden;
	position: relative;
	text-align:Center;
}
ul.tabs1 li {
	float: left;
	margin: 0;
	padding-left: 8px;
	padding-right: 8px;
	height: 25px;
	line-height: 25px;
	/*border-left: none;*/
	margin-bottom: -1px;
	background: #e2e3e4;
	overflow: hidden;
	position: relative;
	text-align:Center;
}
ul.tabs li a {
text-transform: capitalize;
padding-left:14px;
	text-decoration: none;
	color: #4E4E4E;
	display: block;
	font-size: 11pX;
	padding: 0px;
	outline: none;
}
ul.tabs1 li a {
text-transform: capitalize;
padding-left:14px;
	text-decoration: none;
	color: #4E4E4E;
	display: block;
	font-size: 11pX;
	padding: 0px;
	outline: none;
}

ul.tabs li a:hover {
}
.tab_container {
	border: 1px solid #d0d2d3;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}
.tab_container2 {
	border: 0px;
	border-top: none;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}
.tab_content {
padding:14px;
height:70px;
/* background-color:silver;*/
}
.tab_content1 {
padding:14px;
height:150px;
}
.tab_content2 {
height:240px;
}
.tab_content3{
padding:0px;
height:440px;
}
.clear {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
/* nUBE DE    */
    	.tags_container{
                text-align: left;
                position: relative;
                overflow: hidden;
		}
		.tags_container .point{
                cursor: pointer;
                position: absolute;
                list-style: none;
        }

        .tags_container .point a{
                color: inherit;
                text-decoration: none;
        }
		/* interiores*/
.int_fecha {font-family:Arial;color: #000000; font-size:10px;}
.int_tit {font-family:Georgia;color: #002f6e;font-size:34px }
.int_sub {font-size:12px; color:#a02225; font-weight:bold;}
.int_subtit2{font-family:Arial;color:#676767;font-size:11px;font-weight:bold;}
.int_texto {font-family: Arial;color: #4d4d4d; font-size:12px; }
.int_port {font-family: Arial;color: #6d6e70; font-size:12px; }
/*
/* encuentros */
.enc_tit {font-family:Georgia;color: #231f20;font-size:22px }
.enc_fecha {font-family:Arial;color: #808080; font-size:11px;}
.enc_cab { font-family:Arial;color: #4e4e4e; font-size:11px;}
.enc_cdeg {	background: url(../imagen/pla/son_cabecera.jpg);}
.cuadro_id {border:1px solid #cccccc;}
.textito {font-family:Arial; font-size:9px; color:#4d4d4d;text-decoration:none;}
.frase {	font: bold 14px Georgia;	color:#E4949C;	margin: 5px 3px 3px 0px;	padding: 0;	line-height: 1;	text-decoration: none;	}
em {Font-Style:Italic;}
strong {Font-Weight:Bold;}

.pia_enl {width:125px;text-align:center;border:1px solid #006633;}
.pia_enl td{border-top:1px solid #006633;}
.pia_enl a{color:#006633;font-family:Arial;font-size:11px;text-decoration:none;}
.pia_enl:hover{background:#a7a9ab;color:#ffffff;}
.pia_enl:hover a{background:#a7a9ab;color:#ffffff;}
.pia_tit{color:#006633;font-family:Georgia;font-size:13px;text-decoration:none;}


#zona1 {
 position: relative;
 width: 208px;
 height: 114px;
 z-index: 5;
}

#capa1 {
padding:5px;
padding-left:10px;
 position: absolute;
 left: 0;
 margin-top:60px;
 top: 0;
 width: 193px;
 height: 45px;
 z-index: 10;
background-image:url(../2011/imagen/pd_tra.png);
}
#zona2 {
 position: relative;
 width: 207px;
 height: 114px;
 z-index: 5;
}

#capa2 {
padding:5px;
padding-left:10px;
 position: absolute;
 left: 0;
 margin-top:60px;
 top: 0;
 width: 193px;
 height: 45px;
 z-index: 10;
background-image:url(../2011/imagen/pd_tra.png);
}
#zona3 {
 position: relative;
 width: 208px;
 height: 114px;
 z-index: 5;
}

#capa3 {
padding:5px;
padding-left:10px;
 position: absolute;
 left: 0;
 margin-top:60px;
 top: 0;
 width: 193px;
 height: 45px;
 z-index: 10;
background-image:url(../2011/imagen/pd_tra.png);
}


/*Piso pia*/

.pia_titulo {font-family: Georgia;font-size: 21px;color: #006837;text-decoration:none; }
.pia_texto {font-family: Arial;	font-size: 12px;color: #000000;	line-height:15px;text-decoration:none;text-align:left;}
.pia_menu{	font-family: Arial; font-weight:bold;font-size: 12px;color: #006837;}
.pia_publi_tit{	font-family: Georgia; font-size: 16px;color: #006837;text-decoration:none;}
.pia_fecha {font-family: Arial;	font-size: 11px;line-height:15px;color: #8f8f8f;text-decoration:none;}
.pia_enlace {font-family: Arial;font-size: 12px;line-height:15px; color: #006837; text-decoration:none;}

.pd_tit_lib {font-family: Arial;	font-size: 13px;line-height:14px;color: #006633;text-decoration:none;}
.pd_text_lib {font-family: Arial;	font-size: 11px;line-height:14px;color: #000000;text-decoration:none;padding-top:5px;}
.pd_tit_100 {font-family: Arial;	font-size: 13px;line-height:14px;color: #000000;text-decoration:none;}
.pd_text_100 {font-family: Arial;	font-size: 11px;line-height:14px;color: #585858;text-decoration:none;padding-top:5px;}


/* */
.pd_b {list-style-image:url('b.gif'); list-style-position:outside;}
.pd_bn {list-style-image:url('bn.gif'); list-style-position:outside;}
.rel_not {list-style-image:url('../imagen/pla/pd_rnot.png'); list-style-position:outside;}
.pd_relnot {font-size:12px; font-family:Arial; color:#21346a;text-decoration:none;list-style:none;line-height:13px;}
.pd_relico {padding:7px 14px 7px 14px;}

#npd1_1 {width:307px;height:3px;font-size:6px;}
/*#npd1_1 {width:307px;height:13px; background-image:url(col.gif);padding:5px 0px 5px 0px;background-repeat:no-repeat;background-position:center center;font-size:6px;}
*/
#pd1_1 {width:279px;height:13px; background-image:url(1col.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}
#pd2_1 {width:194px;height:13px; background-image:url(2col_1.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}
#pd2_2 {width:293px;height:13px; background-image:url(2col_2.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}
#pd2_3 {width:600px;height:13px; background-image:url(2col_3.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}
#pd3_1 {width:292px;height:13px; background-image:url(3col_1.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}
#pd3_2 {width:396px;height:13px; background-image:url(3col_2.gif);padding:10px 0px 10px 0px;background-repeat:no-repeat;background-position:center center;}

/* banner */
#div_rotante {
	width:810px;
	height: 19px;
	overflow:hidden;
}
#div_rotante ul {	width:810px;}
#div_rotante li {
	width:810px;
	list-style:none;
	display:block;
	height:18px;
	font-family: Arial;
	font-size:11px;
	line-height:11px;
}
.T1 {border:0px solid red; margin:0px;padding:0px;}

.twtr-hd,
.twtr-ft
{
display: none;
border:0px;
}

#twtr-widget-1 .twtr-bd, #twtr-widget-1 .twtr-timeline i a, #twtr-widget-1 .twtr-bd p {
color:#000000 !important;
font-size:0.9em;border-left:none;
border:0px; }
/*multimedia*/
.m_cont {height:90px;padding:14px;}
.m_t{font-size:14px; font-family:Georgia;color:#21346a;}
.m_s{font-size:12px; font-family:Arial;color:#21346a;}
.m_p{padding:7px 14px 7px 14px;}
#c_vid{padding-top:7px;overflow: auto; height:92px; width:305px; border-top:1px dashed #b13337;}
.m_mas{width:377px;text-align:right;height:29px;line-height:11px;padding-right:30px;padding-top:6px;}
.m_ma{font-size:11px;font-weight:Bold;font-style:Italic;color:#b13337;text-decoration:none;}

#newsticker-demo1 ul li{height:135px;}
#newsticker-demof ul li{height:135px;}
#newsticker-demo2 ul li{height:135px;}


.redes-container {height:1%;
overflow: hidden;text-align:right;}
.redes {
padding:0px; margin:0px; 
}
.redes li {
    display: block;
	float:left;
}
.redes li a {
    background-image: url("pd_sprite.png");
    background-repeat: no-repeat;
    text-indent: -5000px;
}
.redes li.red-face a {
background-position: 0 -426px;
    background-repeat: no-repeat;
	float:left;
	height: 25px;
    width: 25px;
	padding-right:10px;
}
.redes li.red-twitter a {
background-position: 0 -501px;
    background-repeat: no-repeat;
	float:left;
    height: 25px;
    width: 25px;
	padding-right:10px;	
}
.redes li.red-rss a {
background-position: 0 -576px;
    background-repeat: no-repeat;
	float:left;
	    height: 25px;
    width: 25px;

}



#serv-container
{padding:10px; margin:0px; border:1px solid silver;height:1%;
overflow: hidden;width:608px;
}
.serv {padding:0px; margin:0px; }
.serv li{
    display: block;
	float:left;
}
.serv li a {
    background-image: url("pd_sprite.png");
    background-repeat: no-repeat;
}
.serv li.s-contacto a {
 background-position: 0 0; width: 90px; height: 39px; 
	float:left;
	padding-left:42px;	
}
.serv li.s-webs a {
background-position: 0 -84px; width: 90px; height: 39px; 
	float:left;
	padding-left:42px;
}
.serv li.s-otras a {
 background-position: 0 -168px; width: 80px; height: 39px;
	float:left;
 	padding-left:45px;
}
.serv li.s-noticia a {
background-position: 0 -252px; width: 70px; height: 39px;
	float:left;
	padding-left:42px;
}
.serv li.s-banco a {
background-position: 0 -336px; width: 60px; height: 44px;
	float:left;
	padding-left:40px;
}
.pd_rest {font-size:13px; color:#000000; line-height:15px; text-decoration: none;text-align:left;font-family:Arial;}
.p_r {font-size:10px; font-family:Arial;color:#AF2328;}
.p_libro {font-size:10px; font-family:Arial;color:#000000;border-bottom:1px dashed #AF2328;padding-bottom:10px;}
#p_pieb {overflow: auto; height:100px; width:202px;padding:7px; background-color:#D6D2D0;}
#p_piebe {overflow: auto; height:83px; width:172px;padding:7px; background-color:#dedad9;}
#p_piebev {overflow: auto; height:138px; width:270px;padding:7px; background-color:#dedad9;}
.pieb_20v { height: 105px; width:307px;background-image:url(../PIEB_20/imagen/pd_caja20ff.png);padding:0px;background-repeat:no-repeat;background-position:top left;}
@font-face {
    font-family: MyriadPro-Regular;
    src: local("MyriadPro-Regular"), url("MyriadPro-Regular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.pd_pieb {font-family:MyriadPro-Regular; font-size:13px; line-height:0px;padding:2px 6px 2px 6px;text-decoration:none; color:#ffffff; background:#ba4f40; height:11px;}
.pd_piebv {font-family:MyriadPro-Regular; font-size:13px; padding:2px 6px 2px 6px;text-decoration:none; color:#ffffff; background:#ba4f40; }
.pd_tcp {font-size:12px; color:#a02125; line-height:25px; text-decoration: none;font-weight:Bold;font-family:Arial;}